/* Reset des styles par défaut */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #009688;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.program {
    background-color: #d1f9d1; /* Light green color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Blur effect */
    padding: 20px;
    margin-bottom: 20px;
    position: relative; /* Positioning for the "started on" field */
    max-width: 600px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the box horizontally */
}

.program h2 {
    margin-bottom: 10px;
}

.started-on {
    position: absolute;
    top: 10px; /* Adjust this value to position the "started on" field */
    right: 10px; /* Adjust this value to position the "started on" field */
    background-color: #009688; /* Highlight color */
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.workout {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.workout h3 {
    color: #009688;
    margin-bottom: 10px;
}

.workout p {
    color: #666;
    margin-bottom: 10px;
}

.workout ul {
    list-style-type: none;
}

.workout ul li {
    margin-bottom: 5px;
}

/* Resize the icons */
.workout ul li img {
    width: 24px; /* Adjust the width of the icons as needed */
    margin-right: 10px;
    vertical-align: middle;
}

footer {
    background-color: #009688;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
