<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PolyFit - Programmes d'Entraînement</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Programmes d'Entraînement</h1>
        <nav>
            <ul>
                <li><a href="dashboard.html">Tableau de Bord</a></li>
                <li><a href="programs">Programmes d'Entraînement</a></li>
                <li><a href="workouts">Séances d'Entraînement</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="container programs-container">
        <!-- Encapsulate all headers within a program box -->
        <div class="program">
            <!-- Add "started on" field with starting date -->
            <h2 th:text="${singleProgram.name}">Titre du Programme</h2>
            <p class="started-on">Commencé le <span th:text="${singleProgram.getStartingDate()}"></span></p>
            <div th:each="dayName : ${frenchDayNames}">
                <div class="program">
                    <h3>
                        <span th:text="${dayName}"></span>
                        <span th:if="${singleProgram.hasWorkoutOnDay(dayName)}">
                            : <span th:text="${singleProgram.nameOfTheWorkoutAfterComparaison(dayName)}"></span>
                        </span>
                        <span th:unless="${singleProgram.hasWorkoutOnDay(dayName)}"> - Repos</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    
    <footer>
        <p>Contactez-nous : contact@polyfit.com</p>
    </footer>
</body>
</html>
