<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PolyFit - Séances d'Entraînement</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Séances d'Entraînement</h1>
        <nav>
            <ul>
                <li><a href="dashboard.html">Tableau de Bord</a></li>
                <li><a href="programs.html">Programmes d'Entraînement</a></li>
                <li><a href="workouts.html">Séances d'Entraînement</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="container workouts-container">
        <h2>Planification des Séances d'Entraînement</h2>
        <div class="workout">
            <h3 th:text="${singleWorkout.title}">Titre du Workout</h3>
            <p th:text="'Objectif : ' + ${singleWorkout.goal.description}">Objectif : Renforcement musculaire et tonification</p>
            <ul>
                <li th:each="detail : ${singleWorkout.exerciceDetailsList}">
                    <img th:src="${detail.exercice.iconPath}" th:alt="${detail.exercice.title}">
                    <span th:text="${detail.exercice.title}"></span> - 
                    <span th:text="${detail.sets}"></span> séries de 
                    <span th:text="${detail.reps}"></span> répétitions
                </li>
            </ul>
            <p th:text="'Instructions : ' + ${singleWorkout.Instructions}">Instructions : Réaliser chaque exercice lentement et contrôlé, en faisant attention à la forme et à la respiration.</p>
        </div>
    </div>
    
    <footer>
        <p>Contactez-nous : contact@polyfit.com</p>
    </footer>
</body>
</html>
